@import 'node_modules/bootstrap/scss/functions';
@import "node_modules/bootstrap/scss/variables";

$offcanvas-horizontal-width: 350px;
$border-color: #6eb1e1;
$text-info: #6eb1e1;


@import "bootstrap/scss/bootstrap";

