@import "src/styles/custom";

.navbar-brand {
  cursor: pointer;
}

.navbar-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    &:hover {
      color: $border-color;
    }

    &.active {
      font-weight: bold;
    }
  }
}

.offcanvas-title {
  font-size: 28px !important;
}

